<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-calm">
      <div class="title">BPL2016</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header " style="background:#28a54c;">
      <div>
        <a style="display:block;" ui-sref="bPL20162.bPL2016" menu-close="">
          <img src="img/BPL-schedule.png" width="100%" height="123" style="display: block; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <ion-list id="bPL20162-list1">
        <ion-item style="margin:20px 0px 20px 0px;" class="item-avatar item-icon-right balanced" id="bPL20162-list-item2" ui-sref="bPL20162.bPL2016" menu-close="">
          <img src="img/hqdefault.jpg">
          <h2balanced>কুমিল্লা ভিক্টোরিয়ান্স
            <i class="icon ion-android-bicycle"></i>
          </h2balanced>
        </ion-item>
        <ion-item style="margin-bottom: 20px;" class="item-avatar item-icon-right positive" id="bPL20162-list-item3" ui-sref="bPL20162.bPL2016" menu-close="">
          <img src="img/barisal-bulls-team-2016-players-list.jpg">
          <h2positive>বরিশাল বুলস
            <i class="icon ion-android-bicycle"></i>
          </h2positive>
        </ion-item>
        <ion-item style="margin-bottom: 20px;" class="item-avatar item-icon-right balanced" id="bPL20162-list-item9" ui-sref="bPL20162.bPL2016" menu-close="">
          <img src="img/Dhaka-Dynamites.jpg">
          <h2balanced>ঢাকা ডায়নামাইটস
            <i class="icon ion-android-bicycle"></i>
          </h2balanced>
        </ion-item>
        <ion-item style="margin-bottom: 20px;" class="item-avatar item-icon-right positive" id="bPL20162-list-item10" ui-sref="bPL20162.bPL2016" menu-close="">
          <img src="img/chittagong-vikings-logo-for-bpl-t20-2015.jpg">
          <h2positive>চিটাগং ভাইকিংস
            <i class="icon ion-android-bicycle"></i>
          </h2positive>
        </ion-item>
        <ion-item style="margin-bottom: 20px;" class="item-avatar item-icon-right balanced" id="bPL20162-list-item11" ui-sref="bPL20162.cloud" menu-close="">
          <img src="img/Rangpur-Riders-team-hd-logo.jpg">
          <h2balanced>রংপুর রাইডার্স
            <i class="icon ion-android-bicycle"></i>
          </h2balanced>
        </ion-item>
        <ion-item style="margin-bottom: 20px;" class="item-avatar item-icon-right positive" id="bPL20162-list-item8" ui-sref="bPL20162.bPL2016" menu-close="">
          <img src="img/Khulna-Titans-logo1475152521.jpg">
          <h2positive>খুলনা টাইটানস
            <i class="icon ion-android-bicycle"></i>
          </h2positive>
        </ion-item>
        <ion-item style="margin-bottom: 20px;" class="item-avatar item-icon-right balanced" id="bPL20162-list-item13" ui-sref="bPL20162.bPL2016" menu-close="">
          <img src="img/Rajshahi_Kings_logo.png">
          <h2balanced>রাশাহী কিংস
            <i class="icon ion-android-bicycle"></i>
          </h2balanced>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
