<ion-view title="BPL2016" id="page1">
  <ion-content padding="true" class="has-header">
    <a ui-sref="bPL20162.page20" id="bPL2016-button12" style="color:#13D6C9;font-size:21px;border-radius:24px 24px 24px 24px;" class="button button-light  button-block">বিপিএল ALL থ্রিম সং</a>
    <div> <marquee> <h4 id="bPL2016-heading2" style="color:#EBDEDE;font-style:italic;text-align:center;">বিপিএল ২০১৬ এর সময়সূচী ও লাইভ স্কোর</h4> </marquee></div>
    <div id="bPL2016-button-bar1" class="button-bar">
      <a ui-sref="bPL20162.page6" id="bPL2016-button7" style="color:#71ADBD;border-radius:50px 50px 50px 50px; margin-right: 20px;" class="button button-stable  button-block">দল ও খেলোয়াড়</a>
      <a ui-sref="bPL20162.page7" id="bPL2016-button9" style="color:#85BD44;border-radius:50px 53px 53px 53px;" class="button button-stable  button-block">লাইভ স্কোর</a>
    </div>
    <div id="bPL2016-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FDFCFC;font-size:18px;">বিপিএল <strong>২০১৬</strong> এর সময়সূচী</p>
    </div>
    <div class="list card" id="bPL2016-card23" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container6">
        <div id="bPL2016-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">কুমিল্লা  VS  চট্রগ্রম </p>
        </div>
        <div id="bPL2016-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ০৮-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.৩০ টা ।</p>
        </div>
        <div id="bPL2016-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card24" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container7">
        <div id="bPL2016-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">  বরিশাল VS ঢাকা</p>
        </div>
        <div id="bPL2016-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ০৮-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown18" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃসন্ধ্যা ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown19" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card25" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container8">
        <div id="bPL2016-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">খুলনা VS রাজশাহী </p>
        </div>
        <div id="bPL2016-markdown20" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ০৯-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown21" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.৩০ টা ।</p>
        </div>
        <div id="bPL2016-markdown22" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card26" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container9">
        <div id="bPL2016-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">রংপুর VS চট্রগ্রম</p>
        </div>
        <div id="bPL2016-markdown23" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ০৯-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown24" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা ৭.১৫ টা ।</p>
        </div>
        <div id="bPL2016-markdown25" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card27" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container10">
        <div id="bPL2016-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">খুলনা VS রংপুর</p>
        </div>
        <div id="bPL2016-markdown26" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ১০-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown27" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা  ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown28" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card28" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container11">
        <div id="bPL2016-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">কুমিল্লা VS বরিশাল</p>
        </div>
        <div id="bPL2016-markdown29" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ১১-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown30" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.৩০ টা ।</p>
        </div>
        <div id="bPL2016-markdown31" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card213" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container16">
        <div id="bPL2016-markdown35" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">ঢাকা VS রাজশাহী </p>
        </div>
        <div id="bPL2016-markdown39" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ১১-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown40" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃসন্ধ্যা ৭.১৫ টা ।</p>
        </div>
        <div id="bPL2016-markdown41" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card214" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container17">
        <div id="bPL2016-markdown36" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;"> চট্রগ্রম VS খুলনা </p>
        </div>
        <div id="bPL2016-markdown42" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ১২-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown43" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown44" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;"> ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card215" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container18">
        <div id="bPL2016-markdown37" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">রংপুর VS ঢাকা</p>
        </div>
        <div id="bPL2016-markdown45" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ১২-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown46" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা  ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown47" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা ।
            <br> </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card216" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container19">
        <div id="bPL2016-markdown38" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">বরিশাল VS রাজশাহী </p>
        </div>
        <div id="bPL2016-markdown48" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ১৩-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown49" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown50" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢকা ।</p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card217" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container20">
        <div id="bPL2016-markdown51" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">কুমিল্লা VS খুলনা</p>
        </div>
        <div id="bPL2016-markdown83" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ১৩-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown84" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা  ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown85" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card218" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container21">
        <div id="bPL2016-markdown52" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">বরিশাল VS চট্রগ্রম  </p>
        </div>
        <div id="bPL2016-markdown86" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ১৪-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown87" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown88" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card219" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container22">
        <div id="bPL2016-markdown53" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">ঢাকা VS কুমিল্লা </p>
        </div>
        <div id="bPL2016-markdown89" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ১৪-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown90" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা  ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown91" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card220" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container23">
        <div id="bPL2016-markdown54" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;"> চট্রগ্রম VS ঢাকা </p>
        </div>
        <div id="bPL2016-markdown92" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ১৭-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown93" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown94" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ চট্রগ্রম  । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card221" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container24">
        <div id="bPL2016-markdown55" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">রংপুর VS বরিশাল </p>
        </div>
        <div id="bPL2016-markdown95" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">তারিখঃ ১৭-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown96" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা  ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown97" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ চট্রগ্রম  । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card222" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container25">
        <div id="bPL2016-markdown56" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">চট্রগ্রম VS রাজশাহী </p>
        </div>
        <div id="bPL2016-markdown98" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ১৮-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown99" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.৩০ টা ।</p>
        </div>
        <div id="bPL2016-markdown100" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ চট্রগ্রাম  । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card223" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container26">
        <div id="bPL2016-markdown57" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;"> কুমিল্লা VS রংপুর</p>
        </div>
        <div id="bPL2016-markdown101" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ১৮-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown102" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা  ৭.১৫ টা ।</p>
        </div>
        <div id="bPL2016-markdown103" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ চট্রগ্রাম । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card224" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container27">
        <div id="bPL2016-markdown58" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;"> ঢাকা VS খুলনা </p>
        </div>
        <div id="bPL2016-markdown104" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ১৯-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown105" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown106" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ চট্রগ্রাম । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card225" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container28">
        <div id="bPL2016-markdown59" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">কুমিল্লা VS রাজশাহী</p>
        </div>
        <div id="bPL2016-markdown107" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ১৯-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown108" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা  ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown109" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ চট্রগ্রাম । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card226" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container29">
        <div id="bPL2016-markdown60" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">খুলনা VS বরিশাল </p>
        </div>
        <div id="bPL2016-markdown110" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ২০-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown111" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা  ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown112" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ চট্রগ্রাম । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card227" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container30">
        <div id="bPL2016-markdown61" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">ঢাকা VS রাজশাহী</p>
        </div>
        <div id="bPL2016-markdown113" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ২১-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown114" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown119" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ চট্রগ্রাম । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card228" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container31">
        <div id="bPL2016-markdown62" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;"> কুমিল্লা VS চট্রগ্রাম </p>
        </div>
        <div id="bPL2016-markdown118" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ২১-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown120" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown121" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ চট্রগ্রাম । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card229" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container32">
        <div id="bPL2016-markdown63" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">রংপুর  VS খুলনা </p>
        </div>
        <div id="bPL2016-markdown115" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ২২-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown116" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown117" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ চট্রগ্রাম । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card230" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container33">
        <div id="bPL2016-markdown64" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">বরিশাল VS চট্রগ্রাম</p>
        </div>
        <div id="bPL2016-markdown122" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ২২-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown123" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown124" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ চট্রগ্রাম । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card231" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container34">
        <div id="bPL2016-markdown65" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;"> রংপুর VS রাজশাহী </p>
        </div>
        <div id="bPL2016-markdown125" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ২৫-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown126" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.৩০ টা ।</p>
        </div>
        <div id="bPL2016-markdown127" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card234" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container37">
        <div id="bPL2016-markdown68" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">বরিশাল VS খুলনা</p>
        </div>
        <div id="bPL2016-markdown128" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">তারিখঃ ২৫-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown129" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা ৭.১৫ টা ।</p>
        </div>
        <div id="bPL2016-markdown130" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card235" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container38">
        <div id="bPL2016-markdown69" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">কুমিল্লা VS ঢাকা</p>
        </div>
        <div id="bPL2016-markdown131" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখধাক৬-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown132" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown133" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card236" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container39">
        <div id="bPL2016-markdown70" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">খুলনা VS রাজশাহী  </p>
        </div>
        <div id="bPL2016-markdown134" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ২৬-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown135" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown136" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card237" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container40">
        <div id="bPL2016-markdown71" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">বরিশাল VS  ঢাকা  </p>
        </div>
        <div id="bPL2016-markdown137" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ২৭-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown138" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown139" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card238" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container41">
        <div id="bPL2016-markdown72" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">রংপুর VS চট্রগ্রম </p>
        </div>
        <div id="bPL2016-markdown140" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ২৭-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown141" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown142" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card239" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container42">
        <div id="bPL2016-markdown73" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">রাজশাহী VS রংপুর   </p>
        </div>
        <div id="bPL2016-markdown143" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ২৮-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown144" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা  ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown145" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card240" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container43">
        <div id="bPL2016-markdown74" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">কুমিল্লা VS বরিশাল</p>
        </div>
        <div id="bPL2016-markdown146" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ২৯-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown147" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown148" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card241" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container44">
        <div id="bPL2016-markdown75" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">চট্রগ্রম VS খুলনা </p>
        </div>
        <div id="bPL2016-markdown149" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ২৯-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown150" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা  ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown151" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card242" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container45">
        <div id="bPL2016-markdown76" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">রংপুর VS ঢাকা </p>
        </div>
        <div id="bPL2016-markdown152" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ৩০-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown153" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown154" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card243" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container46">
        <div id="bPL2016-markdown77" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">রাজশাহী VS কুমিল্লা</p>
        </div>
        <div id="bPL2016-markdown155" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ৩০-১১-২০১৬</p>
        </div>
        <div id="bPL2016-markdown156" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা  ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown157" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card244" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container47">
        <div id="bPL2016-markdown78" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">বরিশাল VS রাজশাহী</p>
        </div>
        <div id="bPL2016-markdown158" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ০১-১২-২০১৬</p>
        </div>
        <div id="bPL2016-markdown159" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown160" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card245" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container48">
        <div id="bPL2016-markdown79" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">রংপুর VS বরিশাল</p>
        </div>
        <div id="bPL2016-markdown161" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ০২-১২-২০১৬</p>
        </div>
        <div id="bPL2016-markdown162" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.৩০ টা ।</p>
        </div>
        <div id="bPL2016-markdown163" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card246" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container49">
        <div id="bPL2016-markdown80" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">ঢাকা VS চট্রগ্রাম </p>
        </div>
        <div id="bPL2016-markdown164" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ০২-১২-২০১৬</p>
        </div>
        <div id="bPL2016-markdown165" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা ৭.১৫ টা ।</p>
        </div>
        <div id="bPL2016-markdown166" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card247" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container50">
        <div id="bPL2016-markdown81" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;"> কুমিল্লা VS খুলনা </p>
        </div>
        <div id="bPL2016-markdown167" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ০৩-১২-২০১৬</p>
        </div>
        <div id="bPL2016-markdown168" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown169" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card248" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container51">
        <div id="bPL2016-markdown82" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;"> রাজশাহী VS চট্রগ্রাম </p>
        </div>
        <div id="bPL2016-markdown170" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ০৩-১২-২০১৬</p>
        </div>
        <div id="bPL2016-markdown171" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown172" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card249" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container52">
        <div id="bPL2016-markdown173" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">কুমিল্লা VS রংপুর </p>
        </div>
        <div id="bPL2016-markdown180" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ০৪-১২-২০১৬</p>
        </div>
        <div id="bPL2016-markdown181" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown182" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card250" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container53">
        <div id="bPL2016-markdown174" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">ঢাকা VS খুলনা</p>
        </div>
        <div id="bPL2016-markdown183" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ০৪-১২-২০১৬</p>
        </div>
        <div id="bPL2016-markdown184" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown185" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card251" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container54">
        <div id="bPL2016-markdown175" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">এলিমেন্টর ( ৩য় VS ৪র্থ )</p>
        </div>
        <div id="bPL2016-markdown186" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ০৬-১২-২০১৬</p>
        </div>
        <div id="bPL2016-markdown187" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ দুপুর ২.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown188" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card252" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container55">
        <div id="bPL2016-markdown176" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">১ম  কোয়ালিফায়ার </p>
        </div>
        <div id="bPL2016-markdown189" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">তারিখঃ ০৬-১২-২০১৬</p>
        </div>
        <div id="bPL2016-markdown190" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown191" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card253" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container56">
        <div id="bPL2016-markdown177" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">২য় কোয়ালিফায়ার</p>
        </div>
        <div id="bPL2016-markdown192" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ০৭-১২-২০১৬</p>
        </div>
        <div id="bPL2016-markdown193" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown194" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
    <div class="list card" id="bPL2016-card254" style="border-radius:40px 40px 40px 40px;">
      <div class="item item-body" id="bPL2016-list-item-container57">
        <div id="bPL2016-markdown178" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#07FAA5;font-size:20px;">ফাইনাল</p>
        </div>
        <div id="bPL2016-markdown195" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:12px;">তারিখঃ ০৯-১২-২০১৬</p>
        </div>
        <div id="bPL2016-markdown196" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">সময়ঃ সন্ধ্যা ৭.০০ টা ।</p>
        </div>
        <div id="bPL2016-markdown197" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C5A8A8;font-size:10px;">ভেন্যুঃ ঢাকা । </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
