<ion-view title="দল ও খেলোয়াড় " id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="page6-list2">
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="page6-list-item126" ui-sref="bPL20162.page10">
        <img src="img/hqdefault.jpg">
        <h2balanced>কুমিল্লা ভিক্টোরিয়ান্স
          <p>মাসরাফি বিন মর্তুজা</p>
          <i class="icon ion-android-arrow-forward"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="page6-list-item129" ui-sref="bPL20162.page11">
        <img src="img/Barisal-Bulls-Player-Squad.jpg">
        <h2balanced>বরিশাল বুলস
          <p>মুশফিকুর রহিম</p>
          <i class="icon ion-android-arrow-forward"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="page6-list-item130" ui-sref="bPL20162.page12">
        <img src="img/Dhaka-Dynamites.jpg">
        <h2balanced>ঢাকা ডায়নামাইটস
          <p>সাকিব আল হাসান </p>
          <i class="icon ion-android-arrow-forward"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="page6-list-item131" ui-sref="bPL20162.page13">
        <img src="img/images.png">
        <h2balanced>চিটাগং ভাইকিংস
          <p>তামিম ইকবাল</p>
          <i class="icon ion-android-arrow-forward"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="page6-list-item132" ui-sref="bPL20162.page14">
        <img src="img/Rangpur-Riders-team-hd-logo.jpg">
        <h2balanced>রংপুর রাইডার্স
          <p>সৌম্য সরকার </p>
          <i class="icon ion-android-arrow-forward"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="page6-list-item133" ui-sref="bPL20162.page15">
        <img src="img/Khulna-Titans-logo1475152521.jpg">
        <h2balanced>খুলনা টাইটানস
          <p>মাহমুদ উল্লাহ</p>
          <i class="icon ion-android-arrow-forward"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="page6-list-item134" ui-sref="bPL20162.page16">
        <img src="img/Rajshahi_Kings_logo.png">
        <h2balanced>রাশাহী কিংস
          <p>সাব্বির রহমান</p>
          <i class="icon ion-android-arrow-forward"></i>
        </h2balanced>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
