<ion-view title="বিপিএল  থ্রিম সং" id="page20">
  <ion-content padding="true" class="has-header">

    <div id="page20-markdown179" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#B8E22D;font-size:21px;">কুমিল্লা ভিক্টোরিয়ান্স থ্রিম সং</p>
    </div>
    <div ng-init="videourl=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:500px; width: 100%;" id="page20-video6">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/lylHpjKrGx0" frameborder="0" allowfullscreen></iframe>
    </div>
    <h3 id="page20-heading9" style="color:#B8E22D;font-weight:600;font-style:italic;text-align:center;">বরিশাল বুলস থ্রিম সং</h3>
    <div ng-init="videourl=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:500px; width: 100%;" id="page20-video8">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Djs04o7mm_8" frameborder="0" allowfullscreen></iframe>
    </div>
    <h3 id="page20-heading5" style="color:#B8E22D;font-weight:600;font-style:italic;text-align:center;"> ঢাকা ডায়নামাইটস থ্রিম সং </h3>
    <div ng-init="videourl=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:500px; width: 100%;" id="page20-video11">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/czXHzeCWK1Y" frameborder="0" allowfullscreen></iframe>
    </div>
    <h3 id="page20-heading6" style="color:#B8E22D;font-style:italic;text-align:center;">চিটাগং ভাইকিংস থ্রিম সং </h3>
    <div ng-init="videourl=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:500px; width: 100%;" id="page20-video12">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/cjDd4auzZUk" frameborder="0" allowfullscreen></iframe>
    </div>
    <h3 id="page20-heading7" style="color:#B8E22D;font-style:italic;text-align:center;">রংপুর রাইডার্স থ্রিম সং </h3>
    <div ng-init="videourl=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:500px; width: 100%;" id="page20-video13">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/yA72sF3RoVo" frameborder="0" allowfullscreen></iframe>
    </div>
    <h3 id="page20-heading8" style="color:#B8E22D;font-style:italic;text-align:center;">খুলনা টাইটানস থ্রিম সং </h3>
    <div ng-init="videourl=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:500px; width: 100%;" id="page20-video14">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/nwmqF94E5ng" frameborder="0" allowfullscreen></iframe>
    </div>
    <h3 id="page20-heading10" style="color:#B8E22D;font-style:italic;text-align:center;">রাশাহী কিংস থ্রিম সং </h3>
    <div ng-init="videourl=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;margin-bottom: 20px; padding-bottom:56.25%;height:500px; width: 100%;" id="page20-video10">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/lPEzu4LzCzk" frameborder="0" allowfullscreen></iframe>
    </div>
  </ion-content>
</ion-view>
