<ion-view title="লাইভ tv" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="Tv-list3">
      <ion-item style="margin-bottom: 20px;" class="item-thumbnail-left item-icon-right assertive" id="Tv-list-item12" ui-sref="bPL20162.gTVLive">
        <img src="img/GTV.jpg">
        <h2assertive>GTV
          <p>Live</p>
          <i class="icon ion-android-desktop"></i>
        </h2assertive>
      </ion-item>
      <ion-item style="margin-bottom: 20px;" class="item-thumbnail-left item-icon-right assertive" id="Tv-list-item14" ui-sref="bPL20162.cHANNEL9">
        <img src="img/BPL-T20-2015-Live-Broadcast-TV-Channels-Media-Partners.jpg">
        <h2assertive>CHANNEL9
          <p>Live</p>
          <i class="icon ion-android-desktop"></i>
        </h2assertive>
      </ion-item>
      <ion-item style="margin-bottom: 20px;" class="item-thumbnail-left item-icon-right assertive" id="Tv-list-item15" ui-sref="bPL20162.tEN">
        <img src="img/TEN.jpg">
        <h2assertive>TEN CRICKET
          <p>Live</p>
          <i class="icon ion-android-desktop"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
